language: python
matrix:
  include:
    - python: "2.6"
      env: TOX_ENV="py26-sqlalchemy{13}"
      before_install: pip install "idna<2.8"
      dist: trusty
    - python: "2.7"
      env: TOX_ENV="py27-sqlalchemy{13}"
    - python: "3.4"
      env: TOX_ENV="py34-sqlalchemy{13}"
    - python: "3.5"
      env: TOX_ENV="py35-sqlalchemy{13}"
    - python: "3.6"
      env: TOX_ENV="py36-sqlalchemy{13}"
    - python: "3.7"
      env: TOX_ENV="py37-sqlalchemy{13}"
      dist: xenial
install:
  - pip install tox
  - pip install coveralls
script:
  - tox -e $TOX_ENV
after_success:
  - coveralls
